// @import '../../index.scss';
@import '../../index.scss';

.about {

  &__inner {
    position: relative;
    padding: 3rem 0 10rem;

    .blur {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }

    &::before {
      content: '';
      position: absolute;
      top: -68px;
      height: 68px;
      width: 100%;
      background-color: #000;
    }
  
    &::after {
      content: '';
      background-image: url('../../assets/images/flags/smpu.jpeg');
      background-position: center center;
      background-size: cover;
      background-attachment: fixed;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  
    h4 {
      color: $color-white;
      font-size: 2.5rem;
      font-weight: bold;
      text-transform: uppercase;
      z-index: 3;
      width: 100%;
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 15%);
    }
  }

  &__desc {
    background-color: $color-primary;
    padding: 6rem 0 3rem;
  }

  &__title {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    line-height: 1;
    text-align: left;
    color: $color-black;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 40px;

    &.title__center {
      text-align: center;

      &::after {
        content: '';
        position: absolute;
        height: 9px;
        width: 110px;
        background-color: $color-white;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }

    &::after {
      content: '';
      position: absolute;
      height: 9px;
      width: 110px;
      background-color: $color-white;
      bottom: 0;
      left: 0;
    }
  }
}