@import '../../index.scss';

.mission {
  & > p,
  & > h4 {
    text-align: center;
    color: $color-black;
  }

  & > h4 {
    margin: 15px 0;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
  }

  & > p {
    font-family: 'Overpass', sans-serif;
    font-size: 19px;
    margin-bottom: 1.25em;
  }
}