@import '../../index.scss';

.container {
  width: $container-width-lg;
  margin: 0 auto;

  @media screen and (max-width: 1024px) {
    width: $container-width-md;
  }

  @media screen and (max-width: 600px) {
    width: $container-width-sm;
  }

  @media screen and (max-width: 420px) {
    width: 96%;
  }
}